/portals/node_modules
/portals/*/node_modules
/portals/*/dist
/.gradle
/.idea
/client/target
/build
/backend/build
/libs/*/build
/libs/build
/services/*/build
/services/build

# Terraform
/terraform/.terraform
/terraform/**/.terraform
/terraform/**/*.tfstate*
/terraform/**/*.tfvars
!/terraform/**/terraform.tfvars.example
/terraform/*.tfplan
